@import url('https://fonts.googleapis.com/css?family=Prompt:300,400&display=swap');

body{
  font-family: 'Prompt', sans-serif;
}

.bg_custom{
  background-image: url('../../../img/bg1.png');
  background-size: cover;
}

.bg_custom2{
  background-image: url('../../../img/bg2.png');
  background-size: cover;
}

.bg_custom3{
  background-image: url('../../../img/bg3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bsdn{
  box-shadow: none;
}
.dn{
  display: none;
}

.tsdn{ text-shadow: none !important; }

.custom-input-1{
  border: none;
  background: rgb(238, 238, 238);
  font-weight: 300 !important;
}

.custom-input-2{
  border: solid;
  background: rgb(255, 255, 255) ;
  font-weight: 300 !important;
  border-width: 0px 0px 2px 0px !important;
  border-color: rgb(189, 189, 189) !important;
  border-radius: 0px;
  outline: none;
}

.custom-input-2:focus{
  outline: none !important;
  border-color: inherit;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.is-invalid{
  background: rgb(255, 236, 233)
}

.footer-div{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  right: 0px;
  background: #fff;
  padding: 15px 20px 10px 20px;
  z-index: 9999;
  border: solid;
  border-width: 1px 0px 0px 0px;
  border-color: rgb(226, 226, 226);
}

.c-drop-shadow{
  -webkit-box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.58);
  box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.58);
}

.selectgroup {
  display: inline-flex; }

.selectgroup-item {
  flex-grow: 1;
  position: relative; }
  .selectgroup-item + .selectgroup-item {
    margin-left: -1px; }
  .selectgroup-item:not(:first-child) .selectgroup-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .selectgroup-item:not(:last-child) .selectgroup-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.selectgroup-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0; }

.selectgroup-button {
  background-color: #fdfdff;
  border-color: #e4e6fc;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  padding: 0 1rem;
  height: 35px;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
  min-width: 2.375rem;
  line-height: 36px; }

.selectgroup-button-icon {
  padding-left: .5rem;
  padding-right: .5rem; }
  .selectgroup-button-icon i {
    font-size: 14px; }

.selectgroup-input:focus + .selectgroup-button,
.selectgroup-input:checked + .selectgroup-button {
  background-color: #6777ef;
  color: #fff;
  z-index: 1; }

.selectgroup-pills {
  display: block;
  flex-wrap: wrap;
  align-items: flex-start; }
  .selectgroup-pills .selectgroup-item {
    margin-right: .5rem;
    flex-grow: 0; }
  .selectgroup-pills .selectgroup-button {
    border-radius: 50px !important; }

.custom-switch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  display: inline-flex;
  align-items: center;
  margin: 0; }

.custom-switch-input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-switches-stacked {
  display: flex;
  flex-direction: column; }
  .custom-switches-stacked .custom-switch {
    margin-bottom: .5rem; }

.custom-switch-indicator {
  display: inline-block;
  height: 1.25rem;
  width: 2.25rem;
  background: #e9ecef;
  border-radius: 50px;
  position: relative;
  vertical-align: bottom;
  border: 1px solid rgba(0, 40, 100, 0.12);
  transition: .3s border-color, .3s background-color; }
  .custom-switch-indicator:before {
    content: '';
    position: absolute;
    height: calc(1.25rem - 4px);
    width: calc(1.25rem - 4px);
    top: 1px;
    left: 1px;
    background: #fff;
    border-radius: 50%;
    transition: .3s left; }

.custom-switch-input:checked ~ .custom-switch-indicator {
  background: #6777ef; }
  .custom-switch-input:checked ~ .custom-switch-indicator:before {
    left: calc(1rem + 1px); }

.custom-switch-input:focus ~ .custom-switch-indicator {
  border-color: #6777ef; }

.custom-switch-description {
  margin-left: .5rem;
  color: #6e7687;
  transition: .3s color; }

.custom-switch-input:checked ~ .custom-switch-description {
  color: #495057; }

  #map {
            position: absolute;
            /* height: 100%; */
            width: 100%;
            top: 97px;
            left: 0px;
            bottom: 0px;
            /* background: rgb(201, 164, 112); */
            z-index: 98 !important;
          }

  #map-tool-1 {
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: 0px;
            padding: 20px;
            z-index: 99 !important;
          }

.img-circle{
  border-radius: 50%;
  overflow: hidden;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 5px 3px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 1.42857;
}

.btn-circle .btn-lg {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
